<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manageproject.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <title>Document</title>
</head>
<body>

  <nav class="sidenav">
    <header>
        <a href="/admindash">
            <span class="nav-item">Admin Dashboard</span>
        </a>
    </header>
    <a href="/manageproject">
        <i class="fas fa-tasks"></i>
        <span class="nav-item">Manage Project</span>
    </a>
    <a href="/managementor">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <span class="nav-item">Manage Mentor</span>
    </a>
    <a href="/managestudent">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="nav-item">Manage Student</span>
    </a>
    <a href="#" class="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Log out</span>
    </a>
</nav>

    <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Project Description</th>
                  <th scope="col">Batch</th>
                  <th scope="col">View-Edit-Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mentoring Portal</td>
                  <td>Lorem ipsum dolor sit amet consecta dolores voluptmmodi asperiores repellat.</td>
                  <td>ML</td>
                  <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mentoring Portal</td>
                  <td>Lorem ipsum dolor sit amet as ea officiis. Eos officiis culpa explicabo.</td>
                  <td>3.417</td>
                  <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>fgjsdrg</td>
                  <td>Lorem ipsum dolor sit aatem consequatut, veritiam illum debitis quas officiis!</td>
                  <td>1.234</td>
                  <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>
</html>